/* Uso de selectores por nombres de etiqueta */
body {
	background: goldenrod;
}

li {
	font-size: 40px;
}

a {
	font-weight: bold;
	color: white;
}

/* Uso de selectores por clase */

/* #123123 #safd1s */
/* rgb(255, 20, 100) */
.my-button {
	border: solid 4px black;
	background: rgb(165, 225, 225);
}
